@tailwind base;
@tailwind components;
@tailwind utilities;


/* custom css library building using @apply for reusing purpose */
.my-container{
  @apply mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl px-4 md:px-24 lg:px-8
}

.active{
  @apply font-extrabold tracking-wide text-white transition-colors duration-100 bg-gradient
}

.bg-gradient{
  background: linear-gradient(90deg, #2723f5 0%, #0acae8 100%)
}

.text-gradient{
  background: linear-gradient(to right, #940be9, #0acae8); 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}




/* for lazy-loading */
.LazyLoad {
  opacity: 0;
  transition: all 1s ease-in-out;
}

.is-visible {
  opacity: 1;
}


/* toDo: */
/* theme styles */
.theme-light {
  background-color: #f5f5f5;
  color: #333;
}

.theme-dark {
  background-color: #333;
  color: #fff;
}